html {
    font-family: Calibri, fantasy;
    background-color: white;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

ul {
    list-style-type: none;
}

.dragger {
    background-color: #1b5e84;
    width: 50%;
    height: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.header {
    border-radius: 10px;
    background-color: #47bcff;
    float: left;
    border: 2px solid black;
    padding: 2%;
}

.separator {
    border-bottom: 2px solid black;
    margin-top: 2%;
    margin-bottom: 2%;
}

.panel {
    font-family: Calibri, fantasy;
    border-radius: 10px;
    background-color: #47bcff;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin-bottom: 3%;
    border: 2px solid black;
    float: left;
}

.fullScreen-panel {
    border-radius: 10px;
    background-color: #47bcff;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin-bottom: 3%;
    border: 2px solid black;
}